/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
/*.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dashed 10px #780099;
    background-color: #f0d576;
  }
*/

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }
  

.special {
  background-color: #7e358d;
  border: dashed 2px #efe373;
  color: rgb(158, 255, 224);
  font-weight: bold;
}

#output {
  display: flex;
  flex-direction: column;
  width: 100%;
}



#comic-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

#comic-title {
  margin-bottom: 20px;
}
        
#comic-image {
  max-width: 100%;
  height: auto;
}