/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
/*.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dashed 10px #780099;
    background-color: #f0d576;
  }
*/

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }
  

.special {
  background-color: #7e358d;
  border: dashed 2px #efe373;
  color: rgb(158, 255, 224);
  font-weight: bold;
}

#output {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text {
  max-width: 60%;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 15px;
  font-family: sans-serif;
  font-size: 0.8em;
  word-wrap: break-word;
}

.text:nth-child(odd) {
  align-self: flex-start;
  background-color: #efe373;
  color: black;
}

.text:nth-child(even){
  align-self: flex-end;
  background-color: #7e358d;
  color: black;
}